.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body1{
    color: #efe5e5;
    margin: 25px 10px 25px 10px;
    font-size: 1.2rem;
    line-height: 32px;
    padding-bottom: 32px;

}

@media (max-width: 600px) {
    .image-container {
        display: flex;
    }
    .imageReact{
        margin-top: 20px;
        margin-bottom: 40px;
        width: 100vw;
        overflow-x: hidden;
    }

    
}

